<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
   <p> Congratulations {{full_name}}! You are  logged in! </p>

  <p> click <a href="/accounts/logout/"> here </a> to log out </p>
</body>
</html>